body {
    animation: transitionIn 1s ease-in-out;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;


}









.nav-links {
    display: flex;
    align-items: center;
    margin-top: 15px;
    height: 4rem;
    justify-content: flex-end;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background: white; 
    transition: background 0.3s ease; 
    z-index: 500; 
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}


.logo {
    position: fixed;
    width: 150px; 
    top: 10px; 
    left: 70px;
    z-index: 1000;
    filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.8));
    transition: width 0.3s ease; 
}


nav {
    padding: 35px 5%; 
    display: flex;
    justify-content: flex-end; 
    z-index: 1000; 
    transition: all 0.3s ease;
}


nav li {
    display: inline-block;
    padding: 0px 20px;
}

nav li a {
    height: 100%;
    font-weight: 400;
    font-size: 14px;
    color: #2d0b00; 
    align-items: center;
    text-decoration: none;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #bf2b4d;
    display: block;
    margin: auto;
    transition: all 0.3s ease;
}

nav ul li a:hover::after{
    color: #bf2b4d;
    width: 100%;
    transition: all 0.3s ease;
}



nav li a:first-child{
    margin-right: auto;

}



.bgc {
    margin-top: 0;
   background-color: rgba(255, 255, 255, 0.5);
   height: 4rem;       
   transition: all 0.7s ease; 
}

.bgc .logo {
    width: 110px; 
    top: 5px; 
    left: 70px;
    transition: all 0.7s ease; 
}

.bgc ul li a{ 
    font-size: 13px;
    transition: all 0.3s ease; 
 }





.about-us {
    background: url(images/team.png) center center / cover no-repeat; 
    min-height: 50vh; 
    background-position: 50% 30%; 
    height: 50vh;
    z-index: -1;

}
.about-us-content {
    max-width: 85%;
    margin: 20px auto;
    padding: 20px 100px;
    background: white; 
}

.about-us-content h1{
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 10px;
}


.about-us-content p{
    font-size: 1rem;
}

.custom-divider {
    width: 90%; 
    margin: 2rem auto; 
    border: none;
    height: 1px; 
    background-color: black; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


h2 {
    width: 100%; 
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 50px;
}


.team{
    display: flex;
    justify-content: center;
    align-items: center;
}

.team img {
    margin-top: -100px;
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: 3;
}


footer{
    width: 100%;
    position: absolute;
    background: transparent;
    color: #2d0b00;
    padding: 80px 0 30px;
    line-height: 20px;

}

.logo1{
    width: 40%;
    margin-bottom: 20px;
    margin-top: -5%;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 15px;
}

.col h3{
    width: fit-content;
    margin-bottom: 30px;
    font-size: 14px;
    position: relative;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.col p {
       font-size: 12px;
}
.col i {
    margin-right: 8px;
    color: #8D263E;
}
.col .name{
    font-weight: bold;

}

.email-id{
    width: fit-content;
    margin: 8px 0;
}

.col ul{
    list-style: none;
    margin-bottom: 10px;
}

.col ul a:hover{
    color: #bc284a;
    margin-left: 5px;
    transition: all 0.3s ease 0s;
}
.col ul a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    transition: all 0.3s ease 0s;
}

 form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

 form .far{
    font-size: 18px;
    margin-right: 10px;
}

 form input{
    width: 80%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

form button{
    background-size: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

}

form button .fas{
    font-size: 16px;
    color: #bc284a;
    border-color: white;

}

.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
    background:  #8D263E;
    cursor: pointer;
    margin-right: 10px;
}

.fab:hover{
    color: #2426b;
    background-color: #ffffff;
    color: #bc284a;
    border-color: #bc284a;
     transition: all 0.3s ease 0s;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);

}

.bottom-bar {
    margin-top: 15px;
    text-align: center;
    padding: 5px 0;
    background: linear-gradient(to right,#2d0b00, #8D263E, #bc284a,#8D263E, #2d0b00);
}

.bottom-bar p{
    color: ghostwhite;
    font-size: 13px;
    padding: 7px;

}

@media (max-width: 800px){
  footer{
        bottom: unset;
    }
    .col{
    flex-basis: 100%;
  
    }

    .bottom-bar p{
    font-size: 11px;
    }
}